.feat-section__wrapper {
  padding: 88px 30px;
  @include media-l {
    padding: 70px 30px;
  }
  @include media-t {
    padding: 50px 30px;
  }
  @include media-m {
    padding: 40px 15px;
  }
  @include media-s {
    padding: 30px 15px;
  };
}

.features {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;

  @include media-l {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
  }
  @include media-t {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    justify-items: start;
    gap: 30px 60px;
  }
  @include media-m {
    gap: 30px;
  }
  @include media-sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  @include media-s {
    grid-template-columns: repeat(1, max-content);
  }
}

.feature {
  max-width: 290px;
  padding: 16px 0 16px 86px;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 22px 22px;

  &:nth-child(1) {
    background-image: url('../svg/features.svg#feature1');
  }
  &:nth-child(2) {
    background-image: url('../svg/features.svg#feature2');
  }
  &:nth-child(3) {
    background-image: url('../svg/features.svg#feature3');
    background-position: 22px 24px;
  }
  &:nth-child(4) {
    background-image: url('../svg/features.svg#feature4');
  }

  @include media-l {
    padding: 16px 16px 16px 56px;
    background-position: 0 22px;
    &:nth-child(3) {
      background-position: 0 22px;
    }
  }
  @include media-t {
    padding: 16px 16px 16px 72px;
    background-position: 16px 22px;
    &:nth-child(3) {
      background-position: 16px 22px;
    }
  }
  @include media-m {
    max-width: 270px;
  }
  @include media-s {
    max-width: 290px;
  }

  &__title {
    margin-bottom: 2px;
  }
}
