.swiper {
  width: 934px;
  height: 623px;
  overflow: visible;
  margin-left: auto;
  margin-right: 0;
}

.swiper-slide {
  width: 934px;
  height: 553px;
}

.swiper__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  padding-left: 216px;
  padding-bottom: 10px;
}

.swiper__dots {
  display: flex;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  width: 27px;
  height: 27px;
  border: 8px solid $color-prim-bg;
  border-radius: 50%;
  background: $color-lt-gray;
  transition: background 0.3s;
  opacity: 1;
  @include hov {
    background: $color-prim-md;
  }
}

.swiper-pagination-bullet-active {
  background: $color-prim;
  outline: 1px solid $color-prim-md;
}

.swiper__arrows {
  display: flex;
  gap: 8px;
}

.swiper__arrows .icon-arrow-btn {
  width: 48px;
  height: 48px;
  color: $color-prim;
  border-radius: 50%;
  background: $color-prim-lt;
  transition: 0.3s;

  &:hover {
    background: $color-prim-md;
    color: $color-light;
    opacity: 0.8;
  }

  &:focus,
  &:active {
    color: $color-light;
    background: $color-prim;
    opacity: 1;
  }
}

.swiper__btn-prev {
  transform: rotate(180deg);
}
