.slider-hero {
  width: perc(934, 746);
  min-width: 850px;
  margin: 0;
  overflow: visible;

  @include media-t {
    width: 100%;
    min-width: auto;
    overflow: hidden;
  }

  .swiper-slide img {
    width: 100%;
  }
}
// ---------------------

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  min-height: 80px;
  padding: 0 0 10px 28px;
  @include media-t {
    padding: 0 30px;
  }
  @include media-m {
    padding: 0 15px;
  }
}

.controls__dots {
  display: flex;
  flex-wrap: wrap;
  @include media-s {
    justify-content: center;
  }
}

.controls__arrows {
  display: flex;
  gap: 8px;
  @include media-s {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 27px;
  height: 27px;
  border: 8px solid $color-bg-prim;
  border-radius: 50%;
  background: $color-gray-lt;
  transition: background 0.3s;
  opacity: 1;
  &:hover {
    background: $color-prim-md;
  }
  &:focus,
  &-active {
    background: $color-prim;
    outline: 1px solid $color-prim-md;
  }
}

// -----------------------------

.swiper-slide__info {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  @include media-t {
    position: static;
  }
}

.info-slide {
  display: flex;
  flex-direction: column;
  width: 294px;
  min-height: 148px;
  max-height: 300px;
  padding: 24px;
  overflow: auto;
  cursor: pointer;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.9);
  @supports ((backdrop-filter: blur(31px)) or (-webkit-backdrop-filter: blur(31px))) {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    -webkit-background-filter: blur(31px);
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $color-prim;
    opacity: 0;
    transition: opacity 0.3s;
    @include media-t {
      background: $color-prim-lt;
    }
  }

  & > * {
    z-index: 11;
  }

  @include hov {
    &::before {
      opacity: 0.15;
    }
    .info-slide__price::before {
      color: $color-prim;
    }
  }

  @include media-t {
    width: 100%;
    min-height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 30px;
    padding: 20px 32px;
    @include hov {
      background: $color-prim-lt;
    }
  }
  @include media-m {
    padding: 20px;
  }
  @include media-s {
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
  }
}

.info-slide__title {
  &:not(:last-child) {
    margin-bottom: 4px;
    @include media-t {
      margin-bottom: 0;
    }
  }
  @include media-t {
    flex-basis: 25%;
  }
  @include media-m {
    flex-basis: auto;
  }
}

.info-slide__text {
  color: $color-gray;
  &:not(:last-child) {
    margin-bottom: 8px;
    @include media-t {
      margin-bottom: 0;
    }
  }
  @include media-t {
    flex-grow: 1;
    text-align: center;
  }
  @include media-m {
    flex-basis: 100%;
    order: 1;
    text-align: left;
  }
  @include media-s {
    order: 0;
  }
}

.info-slide__price {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  white-space: nowrap;
  @include font(20px, 1.5, 600, $color-title);

  &::before {
    width: 24px;
    height: 24px;
    @include font(12px, 24px, 600, $color-dark);
    text-align: center;
    transition: color 0.3s;
  }

  @include media-t {
    margin-top: 0;
    flex-basis: 25%;
  }
  @include media-m {
    flex-basis: auto;
  }
}
