.header {
  padding: 40px 0;
}

.header__wrapper {
  min-height: 45px;
  display: flex;
  align-items: center;
}

.header__main {
  display: flex;
  align-items: center;
  flex-basis: 494px;
  justify-content: space-between;
  gap: 20px;
  padding-right: perc(39px);

  @include media-t {
    flex-basis: auto;
  }
}

.header__menu {
  flex-basis: 345px;
}

.header__search {
  flex-basis: 473px;
  margin-right: perc(40px);
}

.header__actions {
  margin-left: auto;
}

// --------------------------------

.logo {
  padding: 5px;
  margin-left: -5px;
  @include font(2.4rem, 1, 700, $color-dark);
  @include hov {
    color: $color-prim;
  }
}

.menu {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    min-width: 320px;

    @include media-t {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      flex-direction: column;
      justify-content: start;
    }
  }

  &__item {
    position: relative;

    &:hover,
    &:focus-within {
      .menu__link {
        color: $color-prim;
        &::before {
          transform: rotate(180deg);
          color: $color-prim;
        }
      }

      .submenu {
        top: 100%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 11px;
    padding: 5px;
    color: $color-title;

    &::before {
      order: 1;
      font-size: 9px;
      padding-top: 2px;
      transition: transform 0.2s, color 0.2s;
    }
  }
}

.submenu {
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  width: 100px;
  background-color: $color-light;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  @extend %trans;
  transition-duration: 0.35s;

  &__link {
    width: 100%;
    padding: 5px;
    color: $color-gray;
    @include hov {
      color: $color-prim;
    }
  }
}

.search {
  position: relative;
  min-width: 240px;
  height: 45px;

  &__input {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 44px;

    &::placeholder {
      @include font(14px, 1.5, 400, $color-gray);
    }
  }

  &__button {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  width: 152px;
  height: 40px;

  @include media-t {
    width: 200px;
  }

  &__button {
    width: 24px;
    height: 24px;
    color: $color-icons;
    @extend %trans;
    transition-duration: 0.2s;
    @include hov {
      color: $color-prim;
    }

    &._icon-heart {
      font-size: 21px;
    }
    &._icon-cart {
      font-size: 23px;
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
  }
}

.burger {
  display: none;

  @include media-t {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    padding: 5px;
    background: transparent;
    transition: transform 0.3s;
    cursor: pointer;

    span,
    &:before,
    &:after {
      content: '';
      position: relative;
      width: 100%;
      height: 2px;
      background: $color-icons;
      transition: background 0.3s;
    }

    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - 2px);
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - 2px);
        transform: rotate(45deg);
      }
    }
  }
}
