html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  min-width: 320px;
  overflow-y: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background: #000;
    transition: opacity 0.5s;
    opacity: 0;
  }

  &.search-open,
  &.menu-open {
    overflow: hidden;
    &::before {
      width: 100%;
      opacity: 0.2;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: inline-block;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  outline-offset: 2px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
  outline-offset: -2px;
}

a:focus,
button:focus,
input:focus {
  outline: 2px solid $color-prim;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible),
input:focus:not(:focus-visible) {
  outline: 0;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: 2px solid $color-prim;
}

// ---------------------------

[class*='__wrapper'] {
  max-width: $content-width + 30px * 2;
  margin: 0 auto;
  padding: 0 30px;
  @include media-m {
    padding: 0 15px;
  }
}
