.search {
  position: relative;

  &__input {
    min-width: 240px;
    width: 100%;
    height: 45px;
    padding: 10px 10px 10px 45px;
    background: $color-light;
    @include font(14px, 1.5, 400, $color-gray);
    border: 1px solid $color-light;
    outline-offset: -1px;
    opacity: 1;

    &:focus::placeholder {
      opacity: 0;
    }

    @media (min-width: 1024px) {
      .scrolled & {
        height: 44px;
        border-color: $color-bg-prim;
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    color: #333333;
    outline-offset: -7px;
    transition: color 0.2s;
    @include hov {
      color: $color-prim;
    }
    @media (min-width: 1024px) {
      .scrolled & {
        height: 44px;
      }
    }
  }

  @include media-t {
    position: absolute;
    top: calc(100% - 5px);
    width: calc(100% - 60px);
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.3);
    @include hide();
    transition: all 0.3s;

    .search-open & {
      @include show();
      top: calc(100% + 10px);
    }
  }

  @include media-m {
    width: calc(100% - 30px);
  }
}
